.ProductListItem {
  /* flex-grow: 1; */
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid grey;
  border-radius: 2vmin;
  font-size: 4vmin;
}

.ProductListItem .buy {
  display: flex;
  flex-direction: column;
}

.ProductListItem .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.ProductListItem .name {
  font-size: 2vw;
  text-align: center;
  color: var(--text-light);
}

.ProductListItem .buy button {
  background-color: #EBE9DC;
  color: darkgreen;
  border: .1vmin solid grey;
}