.ShopPage {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 2rem;

    .ShopArea {
        margin-top: 2rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1.5fr 3.5fr;
        height: auto;
        border: 1px solid var(--med-grey);

        &-Categories {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 3vmin 2vmin;
        }
    }


  
}

