.ShopPage {
    background-color: var(--white);
}

.ShopArea {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    height: auto;
}

.ShopPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
}