@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&family=Lato:wght@100;300;400;700&display=swap');

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --light-grey: #F7F7F7;
  --med-grey: #E7E7E7;
  --dark-grey: #848484;
  --green: #688466;
  --earth: #6F6C86;
  --dark-earth: #2c2A24;
  --soft-black: #262626;
}

/* Overall Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--dark-grey);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* Global Sizing / Styling */

h1, h2, h3, h4, h5, h6, a, button{
  font-family: 'Cormorant Garamond', serif;
  color: var(--dark-earth);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 500;


  &:hover{
    color: var(--soft-black);
  }
}







// EXTRA 
.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: darkgreen;
  border: .1vmin solid grey;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: #EBE9DC;
  border: .1vmin solid grey;
  border-radius: 1vmin;
}

p.error-message {
  color: red;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  color: var(--dark-grey);
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  background-color: var(--soft-black);
  color: var(--white);
  transition: all 0.3s;
  position: relative;
  margin: 1vmin;
  padding: 1.25rem 2.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0.1, 1);
}

button:hover span {
  letter-spacing: 2px;
}

button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}